* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    backface-visibility: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 20%;
}

::-webkit-scrollbar-thumb {
    background: #ff7900;
    /* border-radius: 5px; */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
    background: #ff77003a;
}
